.main-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 6rem;
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
}
.main-menu .main-meun--item {
  padding-inline: 1rem;
  padding-block: 1rem;
  transition: all 0.5s ease-in-out;
}
.main-menu .main-meun--item:hover .link {
  color: var(--orange);
  font-weight: 700;
  font-size: 1.8rem;
}
.main-menu .main-meun--item .link {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: var(--white);
}
